@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 50px;
}
#overlay-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#overlay-pass-container {
    height: 300px;
    width: 700px;
    border-radius: 20px;
    background-color: rgba(45, 48, 43, 0.75);
    box-shadow: 0 10px 80px 30px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#heading {
    font-weight: bold;
    font-family: Poppins;
    font-size: 30px;
    color: white;
    text-decoration: underline;
}
#social-media-button {
    height: 50px;
    width: 200px;
    border-radius: 30px;
    background-color: white;
    color: black;
    font-family: Poppins;
    font-weight: bold;
    font-size: 17px;
    border: none;
    cursor: pointer;
    transition: 100ms ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#social-media-button:hover {
    color: rgb(59, 59, 255);
    box-shadow: 0px 0px 100px 10px rgba(0, 0, 0, 0.5);
}


@media all and (max-width: 1000px) {
    .overlay-heading {
        font-size: 45px;
    }    
    #overlay-pass-container {
        height: 250px;
        width: 583.3333325px;
    }
} 
@media all and (max-width: 700px) {
    .overlay-heading {
        font-size: 35px;
    }   
    #overlay-pass-container {
        height: 220px;
        width: 513.3326px;
    } 
    body {
        background-image: url('./background-m.jpg');
    }
    #heading {
        font-size: 25px;
    }
} 
@media all and (max-width: 600px) {
    #overlay-pass-container {
        height: 180px;
        width: 419.994px;
    } 
    #heading {
        font-size: 20px;
    }
} 
@media all and (max-width: 480px) {
    #overlay-pass-container {
        height: 150px;
        width: 349.995px;
    } 
    #heading {
        font-size: 16px;
    }
} 
@media all and (max-width: 410px) {
    .overlay-heading {
        font-size: 30px;
    }    
    #overlay-pass-container {
        height: 120px;
        width: 279.6px;
    } 
} 